<module>
	<rawname>cidlookup</rawname>
	<name>Caller ID Lookup</name>
	<version>1.0.2</version>
	<type>setup</type>
	<category>Basic</category>
	<menuitems>
		<cidlookup>Caller Name Lookup Sources</cidlookup>
	</menuitems>
	<location>release/2.2/cidlookup-1.0.2.tgz</location>
	<md5sum>43f3df34312b13cd8a200b4baaae283a</md5sum>
	<info>http://freepbx.org/wiki/CallerIDLookup</info>
</module>
